@import "libs/reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
    background: hsl(226, 43%, 10%);
    font-size: 18px;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
}
a{
    text-decoration: none;
}
.grid{
    max-width: 1300px;
    width: 80%;
    margin: 200px auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 20px;
    justify-content: center;

    .section{
        width: 275px;
        height: 270px;
        background: rgb(187, 163, 163);
        border-radius: 15px;
        display: flex;
        align-items: flex-end;
        position: relative;
        overflow: hidden;

        .iconsvg{
            position: absolute;
            top: -8px;
            right: 15px;
            z-index: 0;
        }

        .inner-section{
            width: 100%;
            height: 83%;
            background: hsl(235, 46%, 20%);
            border-radius: 15px;
            color: rgb(255, 255, 255);
            z-index: 2;
            .inner-section-title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 30px 30px 0px 30px;
            }
            .inner-section-time{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 50%;
                margin-top: 20px;
                margin-left: 30px;
                span{
                    font-size: 4rem;
                    font-weight: 300;
                    
                }
                p{
                    font-size: 1rem;
                    font-weight: 300;
                    letter-spacing: 1px;
                    opacity: 0.9;
                    color: hsl(236, 100%, 87%);
                }
            }
        }
    }
    .profil{
        grid-area: 1 / 1 / 3 / 2;
        background: hsl(235, 46%, 20%);
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-start;

        .period{
            margin: 15px 0 25px 35px;
        }

        p{
            color: hsl(236, 100%, 87%);
            opacity: 0.9;
            line-height: 2.8rem;
            letter-spacing: 1px;
            font-weight: 300;
        }

        .inner-section{
            position: absolute;
            top: 0;
            left: 0;
            height: 68%;
            background: hsl(246, 80%, 60%);
            display: flex;
            flex-direction: column;

            img{
                justify-self: flex-start;
                align-items: flex-start;
                width: 90px;
                border: 3px solid white;
                border-radius: 50%;
                margin: 35px 0 0 30px;
            }
            
            .jeremy-info{
                margin: 35px 0 0 35px;

                h1{
                    font-size: 2.8rem;
                    font-weight: 300;

                }
                p{
                    line-height: 1.6rem;
                    font-size: 0.97rem;
                }
            }
        }
    }
    .work{
        background: hsl(15, 100%, 70%);
    }
    .play{
        background: hsl(195, 74%, 62%);
    }
    .study{
        background: hsl(348, 100%, 68%);
    }
    .exercise{
        background: hsl(145, 58%, 55%);
    }
    .social{
        background: hsl(264, 64%, 52%);
    }
    .self-care{
        background: hsl(43, 84%, 65%);
    }
}
