/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.red {
  background: red;
}

.active a {
  color: white;
}

a {
  color: rgba(189, 193, 255, 0.822);
}

body {
  background: #0f1424;
  font-size: 18px;
  overflow: hidden;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

.grid {
  max-width: 1300px;
  width: 80%;
  margin: 200px auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 20px;
  justify-content: center;
}
.grid .section {
  width: 275px;
  height: 270px;
  background: #bba3a3;
  border-radius: 15px;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}
.grid .section .iconsvg {
  position: absolute;
  top: -8px;
  right: 15px;
  z-index: 0;
}
.grid .section .inner-section {
  width: 100%;
  height: 83%;
  background: #1c1f4a;
  border-radius: 15px;
  color: white;
  z-index: 2;
}
.grid .section .inner-section:hover {
  background: #5b5e86;
  cursor: pointer;
}
.grid .section .inner-section .inner-section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 30px 0px 30px;
}
.grid .section .inner-section .inner-section-time {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  margin-top: 20px;
  margin-left: 30px;
}
.grid .section .inner-section .inner-section-time span {
  font-size: 4rem;
  font-weight: 300;
}
.grid .section .inner-section .inner-section-time p {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0.9;
  color: #bdc1ff;
}
.grid .profil {
  grid-area: 1/1/3/2;
  background: #1c1f4a;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}
.grid .profil .period {
  margin: 15px 0 25px 35px;
}
.grid .profil a {
  opacity: 0.9;
  line-height: 2.8rem;
  letter-spacing: 1px;
  font-weight: 300;
}
.grid .profil p:hover {
  color: aliceblue;
}
.grid .profil .inner-section {
  position: absolute;
  top: 0;
  left: 0;
  height: 68%;
  background: #5847eb;
  display: flex;
  flex-direction: column;
}
.grid .profil .inner-section img {
  justify-self: flex-start;
  align-items: flex-start;
  width: 90px;
  border: 3px solid white;
  border-radius: 50%;
  margin: 35px 0 0 30px;
}
.grid .profil .inner-section .jeremy-info {
  margin: 35px 0 0 35px;
}
.grid .profil .inner-section .jeremy-info h1 {
  font-size: 2.8rem;
  font-weight: 300;
}
.grid .profil .inner-section .jeremy-info p {
  line-height: 1.6rem;
  font-size: 0.97rem;
}
.grid .work {
  background: #ff8c66;
}
.grid .play {
  background: #56c2e6;
}
.grid .study {
  background: #ff5c7c;
}
.grid .exercise {
  background: #4acf81;
}
.grid .social {
  background: #7536d3;
}
.grid .self-care {
  background: #f1c65b;
}

/*# sourceMappingURL=style.css.map */
